body {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
}

.captcha {
	height: 320px;
	position: relative;
}

@-webkit-keyframes earthquakeAnim{
	from {
		left: 3px;
		-webkit-transform: rotate(1deg);
	}

	to {
		right: 3px;
		-webkit-transform: rotate(-1deg);
	}
}

.captcha.earthquake  {
    -webkit-animation: earthquakeAnim .08s 3;
}

.msg {
	margin: 0;
	padding-top: 20px;
	padding-left: 20px;
	color: #969696;
}


.refresh {
	padding-left: 15px;
	height: 15px;
	width: 15px;
	vertical-align: 0;
}

@media (max-width: 320px) {
	.msg {
		font-size: 14px;
	}

	.refresh {
		height: 14px;
		width: 14px;
		vertical-align: -2px;
	}
}

/*验证第一版本*/
.mask {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .75);
	z-index: 1000;
}

.toast {
	margin: 0;
	font-size: 25px;
	text-align: center;
	line-height: 320px;
	color: white;
	text-indent: 10px;
	vertical-align: middle;
}

.yes {
	background: url(../images/yes.png) no-repeat 28% 50%;
	background-size: 30px;
}

.no {
	background: url(../images/no.png) no-repeat 28% 50%;
	background-size: 30px;
}

/*验证第二版本*/
.success, .failure {
	position: absolute;
	height: 150px;
	width: 150px;
	-webkit-transform: scale(1.5);
	z-index: 1000;
}

.success.show, .failure.show {
	-webkit-animation:show .2s ease-in both;
}

@-webkit-keyframes show{
	0% {}
	50% { -webkit-transform: scale(.75);}
	75% { -webkit-transform: scale(.8);}
	100% { -webkit-transform: scale(.75);}
} 

.success {
	background: url(../images/success.png) no-repeat 28% 50%;
	background-size: contain;
}

.failure {
	background: url(../images/failure.png) no-repeat 28% 50%;
	background-size: contain;
}